:root{
    --background-clr:  hsl(217, 54%, 11%);
    --card-background-clr: hsl(216, 50%, 16%);
    --card-line-clr:  hsl(215, 32%, 27%);
    --text-clr: hsl(0, 0%, 100%);

    --alt-text-clr: hsl(215, 51%, 70%);

    --link-clr: hsl(178, 100%, 50%);
    --hover-clr: hsl(178, 100%, 50%);
    --hover-background-clr: hsla(178, 100%, 50%, 0.507);
}